{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div>
        <h1 style="color: crimson;">Get Started</h1>
        <form method="POST">
            {% csrf_token %} <!--security shit-->
            <fieldset>
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submin">Login</button>
            </div>
        </form>
        
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{%url 'register'%}">Login</a>
            </small>
        </div>
    </div>

{% endblock content %}